* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* The element to apply the animation to */
.navbar-brand {
  display: flex;
  width: 20px;
  margin: 20px;
  height: 20px;
  background-color: rgb(250, 244, 244);
  animation-name: animatedSquare;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  transform: scaleY(1) rotate(0deg);
}
/* The animation code */
@keyframes animatedSquare {
  0% {
    border-radius: 0%;
    transform: translateY(0);
  }
  25% {
    border-radius: 100%;
  }
  50% {
    transform: scale(2);
    background: yellowgreen;
  }
  100% {
    background-color: rgb(117, 203, 206);
  }
}
* {
  box-sizing: border-box;
}
navbar {
  background-color: azure;
}
.nav-link {
  color: black;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}
.nav-link:hover {
  color: white;
  background-color: grey;
}
.navbar-brand {
  font-size: 1.25rem;
  font-weight: 700;
  color: rgb(10, 10, 10);
  cursor: pointer;
  text-decoration: none;
}

/* main section here */

.main {
  background: url(images/san.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100vh;
  border-style: solid;
  border-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-color: black;
  border-radius: 10px 10px 10px 10px;
  background-color: rgba(0, 0, 0, 0.363);
}

.main h3 {
  font-size: 4rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
}
.main h6 {
  font-size: 1.5rem;
  line-height: 1;
  border-bottom: 3px solid rgb(15, 35, 212);
  width: auto;
}
.main .bt1 {
  height: 55px;
  width: 140px;
  background-color: yellowgreen;
  outline: none;
  border: none;
  font-weight: bold;
  border-radius: 5px;
}
.main .bt1:hover {
  background-color: green;
}
.main .bt2 {
  height: 55px;
  width: 140px;
  background-color: yellowgreen;
  outline: none;
  border: none;
  font-weight: bold;
  border-radius: 5px;
}
.main .bt2:hover {
  background-color: green;
}
.main .btn {
  height: 55px;
  width: 200px;
  background-color: rgb(42, 132, 206);
  outline: none;
  border: none;
  font-weight: bold;
  border-radius: 5px;
}
/* edu  n experince section here */

h1 {
  color: yellowgreen;
  font-size: small;
  font-weight: bold;
}
h3 {
  color: rgb(5, 5, 5);
}
h6 {
  color: wheat;
}
.education img {
  box-shadow: -9px -8px 7px -2px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: -9px -8px 7px -2px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: -9px -8px 7px -2px rgba(0, 0, 0, 0.29);
  position: relative;
  width: 100%;
  height: auto;
}
/*mobile devices smaller than 480px*/
body {
  background-color: rgb(251, 254, 255);
}

/* Small devices n tabs 480px and up) */
@media only screen and (min-width: 480px) {
  body {
    background-color: rgb(233, 249, 252);
  }
  .education img {
    max-width: 500px;
  }
  h1 {
    font-size: medium;
  }
}

/* Medium devices 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    background-color: rgb(223, 245, 250);
  }
  h1 {
    color: rgb(138, 167, 131);
  }

  h1 {
    font-size: large;
  }
}

/* laptops/desktops 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    background-color: rgb(215, 246, 252);
  }
  h1 {
    color: rgb(69, 138, 52);
  }
}

/* Extra large devices 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    background-color: rgb(196, 243, 252);
  }
  h1 {
    color: rgb(4, 92, 4);
  }
}
/* edu  n experince section here */

.progress {
  background: url(images/sanf\\(1\).jpg) no-repeat;
  background-size: cover;
  justify-content: flex-start;
  border-radius: 50px;
  align-items: center;
  position: relative;
  display: flex;
  height: 25px;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-color: black;
  border-radius: 10px 10px 10px 10px;
}
.progress p {
  color: white;
  text-align: center;
  padding: 0.5px;
}
.pro-value1 {
  animation: load1 3s normal forwards;
  border-radius: 50px;
  background-color: black;
  height: 25px;
  width: 0;
}
@keyframes load1 {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
.pro-value2 {
  animation: load2 3s normal forwards;
  border-radius: 50px;
  background-color: black;
  height: 25px;
  width: 0;
}
@keyframes load2 {
  0% {
    width: 0;
  }
  100% {
    width: 65%;
  }
}
.pro-value3 {
  animation: load3 3s normal forwards;
  border-radius: 50px;
  background-color: black;
  height: 25px;
  width: 0;
}
@keyframes load3 {
  0% {
    width: 0;
  }
  100% {
    width: 20%;
  }
}
.pro-value4 {
  animation: load4 3s normal forwards;
  border-radius: 50px;
  background-color: black;
  height: 25px;
  width: 0;
}
@keyframes load4 {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

/* contact info here */

.icons {
  width: 10rem;
  height: 10rem;
  border-radius: 30%;
}
footer {
  background: url(images/sanf\\(1\).jpg) no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.363);
  text-align: center;
  padding: 3px;
  border-style: solid;
  border-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-color: black;
  border-radius: 10px 10px 10px 10px;
}
